body {
  color: #ad8a4a;
  background-color: beige;
  padding: 5%;
  width: 90%;
}

header {
  width: 100%;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: brown;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1.5em;
}

nav a:hover {
  background-color: gold;
  color: black;
}

.dropdown:hover {
  background-color: gold;
  color: black;
}

a img {
  max-width: 500px;
}

.column {
  width: 45%;
  float:left;
  padding:20px;
}
