/* this is for an exercise in class on styles */

body {
  background-color: grey;
  padding: 5%;
}
h1 {
  text-align: center;
  color: gold;
}
ul {
  padding-top: 5%;
}
ul li {
  color: gold;
  font-size: 1.5em;
}
ol {
  padding-top: 0%;
  margin-bottom: 5%;
  margin-left: 2%;
}
ol li {
  color: white;
  font-size: 1.3em;
  line-height: 1.4;
}
figcaption {
  color: white;
  font-style: italic;
}
